@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 20px;
  padding: 0;
  background: linear-gradient(135deg, #2c3e50, #34495e);
  min-height: 100vh;
  color: #ffffff;
}

form,
#resume-display {
  margin: auto;
  background: linear-gradient(135deg, #2c3e50, #34495e);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  padding: 40px;
  max-width: 800px;
  color: white;
}

.form-heading {
  text-align: center;
}

fieldset {
  border: none;
  padding: 25px;
  margin-bottom: 25px;
  background-color: #405971;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

fieldset:hover {
  background-color: #34495e;
}

legend {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  padding: 0 5px;
}

label {
  display: block;
  margin-top: 12px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 200;
}

input,
textarea {
  margin-top: 6px;
  padding: 12px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: #ffffff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  color: #333333;
}

input:focus,
textarea:focus {
  box-shadow: 0 0 5px rgba(0, 128, 255, 0.3);
  border-color: #007bff;
}

button {
  display: block;
  width: 100%;
  background: #405971;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 18px;
  padding: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #34495e;
  transform: translateY(-2px);
}

#resume-display img.profile-img {
  display: block;
  margin: 0 auto;
  max-width: 170px;
  max-height: 170px;
  border-radius: 50%;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.1);
}

#resume-display {
  text-align: left;
  padding: 30px;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  max-width: 800px;
  display: none;
}

footer {
  text-align: center;
  color: #ffffff;
  margin-top: 30px;
}

footer a {
  color: #007bff;
}

footer a:hover {
  color: #0056b3;
}
